<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='anotherstyle.css' ) }}">
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, maxime molestiae? Ullam possimus, error adipisci quo officiis cupiditate, sed hic vero asperiores autem tempore vel dolor corrupti fuga fugit eveniet nobis in. Voluptates, laudantium!
</body>
</html>